* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  background-color: black;
}
nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-block: 2vh;
  height: 10vh;
  div {
    gap: 10vh;
    display: flex;
    align-items: center;
    margin-inline: 15vh;

    ul {
      display: flex;
      gap: 3.75vh;
      align-items: center;
      list-style-type: none;

      a {
        cursor: pointer;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.765);
      }
      a:hover {
        position: relative;
        top: -1.5px;
        color: white;
      }
      .current {
        color: rgb(255, 0, 0);
        font-weight: bold;
      }
      .fa-cart-shopping {
        color: white;
      }
      i {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.765);
        margin-top: 1vh;
        font-size: 1.15rem;
      }
      i:hover {
        position: relative;
        top: -1.5px;
        color: white;
      }
    }
    img {
      width: 10vh;
    }
  }
}

section.hero {
  flex-direction: column;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .data {
    color: white;
    border-radius: 5px;
    padding: 1.5rem;
    padding-block: 3rem;
    width: 50vw;
    text-align: center;
    h1 {
      letter-spacing: 0.4rem;
      font-size: 2.2rem;
      font-weight: bolder;
      span {
        color: rgb(255, 0, 0);
      }
    }
    p {
      color: rgba(255, 255, 255, 0.75);
      margin-inline: auto;
      width: 30vw;
      span {
        color: rgb(255, 0, 0);
      }
      margin-top: 0.75rem;
      font-weight: 500;
      font-size: 1rem;
    }
  }
  .buttons {
    display: flex;
    gap: 2.5vw;
    a {
      font-weight: 600;
      font-size: 0.8rem;
      text-decoration: none;
      color: white;
      background: red;
      padding: 1.5rem;
      padding-block: 0.65rem;
      border-radius: 10px;
    }
    .btn2 {
      background-color: black;
      border: 1.5px solid red;
      color: red;
      font-weight: 600;
    }
    a:hover {
      transform: scale(1.035);
      box-shadow: 0 0 11px rgba(255, 255, 255, 0.5);
    }
  }
}

section.catalog {
  margin-top: 15vh;
  margin-bottom: 25vh;
  color: white;
  background-color: black;
  .innercontainer {
    margin-inline: 15vw;
    .search {
      margin-bottom: 9.5vh;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        i {
          color: red;
        }
        padding: 1.5rem;
        padding-block: 0.25rem;
        background-color: rgba(30, 30, 30, 1);
        border-radius: 15px;
        input {
          color: white;
          height: 2rem;
          border: none;
          background-color: rgba(30, 30, 30, 1);
        }
        input:focus {
          outline: none;
        }
      }
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
  }
  .btnac {
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    text-decoration: none;
    color: white;
    background: red;
    padding: 1rem;
    padding-block: 0.4rem;
    border-radius: 10px;
    position: relative;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(60vw / 4);
  }
}

.arrow {
  margin-top: 10vh;
  transform: rotate(360deg);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: Ranimate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes Ranimate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

footer {
  .copy {
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    margin-top: 1.5rem;
    text-align: center;
  }
  margin-top: 10vh;
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  .container {
    .paymenth3 {
      margin-top: 1.5vh;
    }
    .payment {
      margin-top: 2vh;
      display: flex;
      gap: 0.5vw;
      flex-wrap: wrap;
      li {
        i {
          font-size: 1.25rem;
        }
      }
    }
    color: rgba(255, 255, 255, 0.7);
    margin-inline: 15vw;
    display: flex;
    justify-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      h3 {
        color: red;
        font-weight: normal;
      }
      p {
        margin-top: 1.5vh;
      }
      ul {
        margin-top: 1.5vh;
        list-style-type: none;
        li {
          a {
            text-decoration: none;
            font-size: small;
            color: rgba(255, 255, 255, 0.7);
          }
        }
      }
      width: calc(60vw / 3);
    }
  }
}
